@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins thin;
}
/* html{
    scroll-behavior: smooth;
} */
/* Navigation */
.nav{
    width: auto;
    height: 78px;
    box-shadow: 0px 0.1px 12px lightblue;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 70%;
    margin: 0 15%;
}
.logo{
    float: left;
    margin: 20px 0;
    /* font-size: 2.5vh; */
    letter-spacing: 5px;
    font-weight: bold;
}
.navbar .nav-item{
    float: right;
    margin: 30px 0;
}
.navbar .nav-item .nav-links{
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}
.navbar .nav-item .nav-links .a-links{
    font-size: 14px;
    text-decoration: none;
}
.navbar .nav-item .nav-links .a-links:hover{
    color: #0ABEAD;
    border-radius: 5px;
}
.navbar .nav-item .nav-links .a-links.active-nav{
    color: #0ABEAD;
}
.burger{
    position: fixed;
    right: 40px;
    top: 23px;
    display: none;
}
.burger div{
    height: 3px;
    width: 25px;
    background-color: #0ABEAD;
    margin: 6px auto;
    border-radius: 50%;
}
/* Layout box */
.col-r{
    float: left;
    width: 50%;
}
.col-l{
    float: right;
    width: 50%;
}
.card{
    position: relative;
}

/* intro  */
.greeting{
    padding-top: 60px;
}
.card .intro {
    letter-spacing: 1px;
    margin-top: 80px;
}
.card .img-intro{
    width: 75%;
    border-radius: 50%;
    box-shadow: 2px 1px 30px lightblue;
    float: right;
    margin-top: 50px;
}
footer{
    margin-top: 20px;
}
footer img{
    width: 100%;
}

/* Header */
.about{
    padding-top: 70px;
}
.header{
    /* position: relative; */
    padding: 12px;
    margin-bottom: 40px;
}
.about-me{
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-family: poppins;
}
.about-me::before{
    content: "";
    width: 149px;
    height: 2px;
    background-color: #0ABEAD;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.about-me::after{
    content: "";
    width: 50px;
    height: 11px;
    background-color: #0ABEAD;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

/* Content About Me */
.card .img-me{
    width: 75%;
    float: left;
    margin-top: 0;
}
.card .txt-me {
    letter-spacing: 1px;
    margin-top: 70px;
    padding-right: 30px;
    font-size: 14px;
}
.card .txt-me h5{
    padding-top: 6px;
}

/* Content Resume */
.resume{
    background-image: url(../asset/bg-resume.svg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 0 10px lightblue);
    margin-top: 60px;
    padding-top: 150px;
    padding-bottom: 100px;
}
.card-in{
    width: 90%;
}
.tab-menu{
    width: 25px;
    position: relative;
}
.tab-menu .menu-items .icon{
    position: absolute;
    left: 15%;
    width: 35px;
    background-color: #0ABEAD;
    padding: 8px;
    margin-top: -7px;
    margin-left: -4px;
    border-radius:50% ;
}
.tab-menu .menu-items{
    list-style: none;
}
.tab-menu .menu-items .li-btn{
    padding: 30px;
}
.tab-menu .menu-items .btn-item{
    cursor: pointer;
    padding-left: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
}
.tab-menu .menu-items .btn-item.active-btn{
    background-color: #0ABEAD;
    width: 135px;
    height: 32px;
    border-radius: 20px;
    margin-left: -25px;
    color: white;
}
.content-resume{
    /* position: relative; */
    width: 100%;
    height:100%;
    padding-bottom: 20px;
}
.content-resume .vr-line{
    position: absolute;
    left: 13px;
    width: 2px;
    height: 100%;
    z-index: 1;
    background-color: #0ABEAD;
    
}
.content-resume ul{
    list-style: none;
    width: 100%;
}
.content-resume ul li{
    padding-bottom: 0;
    margin: 0 40px;
    padding-top: 20px;
}
.content-resume ul li:before{
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #0ABEAD;
    position: absolute;
    left:  5px;
}
.content-resume span{
    width: 20%;
    padding: 5px;
    text-align: center;
    position: absolute;
    right: 0;
    margin-top: -5px;
    background-color: #F57F17;
    border-radius: 16px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
#content-edu{
    position: relative;    
    width: 100%;
    opacity: 0;   
}
#content-work{     
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50px;
}
#content-skill{    
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50px;      
}
#content-edu.active, #content-work.active, #content-skill.active{
    opacity: 1;
    transition: 0.3s;
    top: 0;
}

/* Portfolio */
.portfolio{
    padding-top: 80px;
}
.head-slide{
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-weight: bolder;
}
.head-slide.active-head{
    background-color: #0ABEAD;
    color: white;
}
.content-slide .slide{
    width: 100%;
    height: 350px;
    text-align: center;
    display: none;
    margin-top: 20px;
    padding-top: 150px;
}
.content-slide .slide.active-slide{
    display: block;
}
.dot-slide{
    text-align: center;
    padding-top: 10px;
}
.dot{
    cursor: pointer;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid grey;
    display: inline-block;
}
.dot.active-dot{
    border-color: #0ABEAD;
}
 
/* contact */
.contact{
    padding-top: 70px;
}
.contact-form{
    background-image: url(../asset/cover_contact.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    background-color: white;
    box-shadow: 0 0 20px lightblue;
    padding: 10px;
    width: 75%;
    margin: 60px 0 20px 4px;
    float: right;
}
.form h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    color: #0ABEAD;
}
.form input, textarea{
    box-shadow: 0 0 10px lightblue;
    width: 95%;
    margin: 5px 0;
    padding: 5px;
    border: none;
}
.form input[type=submit]{
    background-color: #0ABEAD;
    border-radius: 20px;
    color: white;
}
.footer-contact span{
    display: inline-block;
    padding: 20px;
}
.footer-contact .footer-icon{
    height: 30px;
    width: 30px;
    float: right;
    margin: 0 7px;
}




.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
}
.shawdow{
    box-shadow:  0px 0px 20px lightblue;
}
.m-top{
    margin: 20px;
}
.c-3{
    color: #0ABEAD;
}
.c-2{
    color: #ddd;
}
.c-1{
    color: black;
}
.c-4{
    color: #F57F17;
}
.bg-1{
    background-color: #0ABEAD;
}
.bg-2{
    background-color: blue;
}
.bg-3{
    background-color: red;
}
.bg-4{
    background-color: yellow;
}
.bg-5{
    background-color: green;
}
.bg-7{
    background-color: white;
}
@media screen and (max-width: 900px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .navbar .nav-item{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 63%;
        left: 0;
        background-color: black;
        transform: translateX(-100%);
        transition: 0.3s;
    }
    .navbar .nav-item .nav-links{
        display: block;
        padding: 20px 0;
        text-align: center;
    }
    .navbar .nav-item .nav-links .a-links{
        font-size: large;
        color: white;
    }
    .nav-item.menu-nav{
        opacity: 0.8;
        transform: translateX(0);
        transition: 0.3s;
    }
    .col-l, .col-r{
        width: 100%;
        padding: 0;
        /* background-color: blue; */
    }
    .card{
        text-align: center;
    }
    .card .img-me, .card .img-intro{
        float: none;
        width: 70%;
    }
    .card .txt-me{
        text-align: center;
        padding: 50px;
        margin: 0;
    }
    .resume .resume-shadow{
        box-shadow: 0 0 10px lightblue;
    }
    .card-in{
        width: 100%;
        box-shadow: none;
    }
    .tab-menu{
        width: 100%;
        height: 40px;
        background-color: #0ABEAD;
    }
    .tab-menu .menu-items{
        float: left;
    }
    .tab-menu .menu-items .li-btn{
        display: inline-block;
        padding:0 20px 20px 10px;
    }
    .tab-menu .menu-items .li-btn .btn-item{
        background-color: #0ABEAD;
    }
    .tab-menu .menu-items .btn-item.active-btn{
        background-color: #0ABEAD;
        width: 135px;
        height: 32px;
        border-radius: 20px;
        margin-left: 0px;
        color: white;
    }
    .tab-menu .menu-items .li-btn .icon{
        position: relative;
        top: 8px;
        border-radius: 0;
    }
    .tab-menu .menu-items .li-btn span{
        margin-left: 18px;
        margin-top: -30px;
    }
    .content-resume{
        text-align: justify;
        width: 100%;
    }
    .content-resume span{
        display: none;
    }
    .content-resume .vr-line{
        left: 12px;
    }
    .content-resume ul li::before{
        left: 4px;
    }
    #content-edu ul li:nth-child(1)::after{
        content: "2019-2023";
        display: inline-block;
        background-color: #F57F17;
        height: 30px;
        width: 100px;
        color: white;
        padding-top: 5px;
        text-align: center;
        border-radius: 20px;
        margin-top: 3px;
    }
    #content-edu ul li:nth-child(2)::after{
        content: "2015-2018";
        display: inline-block;
        background-color: #F57F17;
        height: 30px;
        width: 100px;
        color: white;
        padding-top: 5px;
        text-align: center;
        border-radius: 20px;
        border: none;
        box-shadow: none;
    }
    .card form{
        float: none;
        width: 100%;
    }
    .footer-contact span{
        float: none;
        width: 100%;
    }
    .footer-contact .footer-icon{
        float: left;
        margin-left: 20px;
    }

}
@media screen and (max-width: 530px) {
    .tab-menu .menu-items .li-btn span{
        display: none;
        opacity: 0;
        transition: 1s;
    }
    .tab-menu .menu-items .btn-item.active-btn{
        background-color: #0ABEAD;
        width: 35px;
        height: 32px;
        border-radius: 20px;
        margin-left: 0px;
        color: white;
    }
    .tab-menu .menu-items .btn-item.active-btn .icon{
        background-color: black;
        width: 35px;
        height: 32px;
        border-radius: 20px;
        margin-left: 0px;
        color: white;
    }
}
